html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}